@font-face {
    font-family: 'MoldieDemo';
    src: url('assets/Moldie Demo.otf') format('opentype');
}

* {
  box-sizing: border-box;
}

body {
  background:  #f7d1e7;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border: #fff solid 3px;
}

.game-container {
  position: relative;
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  margin-top: 50px;

  outline: 30px solid #fff;

  /* transform: scale(1) translateY(20%); */
}
.game-container canvas {
  image-rendering:pixelated;
}

h1 {
  font-family: 'MoldieDemo', sans-serif;
  color: #f6e2a2;
  text-align: center;
  font-size: 80px;
  border: #fff solid 3px;
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px, #fff 0px 0px 20px;
}

